@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
    margin: auto;
}

.App h1 {
    background-color: white;
    margin-top: 15px;
    max-width: 800px;
}

.post {
    display: flex;
    padding: 10px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    background-color: white;
}

.current_post {
    padding: 10px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
    max-width: 800px;
    background-color: white;
}

.current_post button {
    margin: auto;
    display: block;
}

.post_content {
    max-width: 550px;
    word-wrap: break-word;
}
.post_btns {
    display: flex;
}
.post_btns button {
    margin: 2px;
}

.form_btns button {
    margin-right: 4px;
    background-color: white;
}

.nav_bar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
}

.nav_links {
    font-size: 18px;
    font-weight: 500;
    margin-left: auto;
}

.nav_links a {
    margin: 2px;
}

